.home {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  height: 980px;
  background-image: url(../img/bg-home.jpg);
  background-repeat: no-repeat;
  background-position: 0 95px;
  background-size: auto;
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 40px;
  line-height: 96px;
  color: $white;
}

.home__row-top {
  width: 1200px;
  min-height: 410px;
}

.home__column-left {
  width: 40%;
}

.home__column-middle {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: nowrap;
  -ms-flex-wrap: nowrap;
  flex-wrap: nowrap;
  width: 35%;
}

.home__column-right {
  width: 25%;
}

.home__row-bottom {
  width: 100%;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  min-height: 130px;
}

.home__acquaintance {
  display: inline-block;
  padding-top: 285px;
  padding-bottom: 1px;
  margin-bottom: 35px;
  margin-left: 80px;
  line-height: 72px;
  border-bottom: 3px solid $bordo;
}

.home__hint {
  margin-bottom: 0;
  margin-left: 140px;
}

.home__supposition {
  padding-top: 112px;
  margin-bottom: 145px;
  margin-left: 40%;
}

.home__combinator {
  width: 5%;
  height: 252px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 64px;
  border-right: 10px solid transparent;
}

.home__column-middle-wrapper {
  width: 90%;
}

.home__responsive {
  padding-top: 0;
  margin-bottom: 15px;
  margin-left: 100px;
}

.home__reactive {
  margin-bottom: 15px;
  margin-left: 100px;
}

.home__reliable {
  margin-bottom: 15px;
  margin-left: 100px;
}

.home__brace {
  width: 5%;
  height: 252px;
  -webkit-align-self: flex-end;
  -ms-flex-item-align: end;
  align-self: flex-end;
  margin-bottom: 64px;
}

.home__brace svg {
  fill: transparent;
}

.home__website {
  padding-top: 112px;
  margin-left: 23%;
}

.home__offer {
  padding-top: 1px;
  padding-bottom: 3px;
  padding-left: 2px;
  text-align: center;
}

.home__responsive-re,
.home__reactive-re,
.home__reliable-re {
  color: $bordo;
  font-weight: 800;
}

.draw-border {
  display: none;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  margin-top: -95px;
}

.home__left-mock,
.home__right-mock {
  width: 30%;
}

.home__right-mock {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-right: 23px;
}

.home__bottom-middle {
  width: 545px;
  margin-left: auto;
}

.draw-triangle {
  display: block;
  margin-left: auto;
}

.line {
  display: block;
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}