.main-nav {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 1120px;
  -webkit-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.main-nav__wrapper-top {
  position: absolute;
  right: 0;
}

.main-nav__wrapper-bottom {
  width: 830px;
}

.main-nav__list-bottom {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav__list-top {
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
}

.main-nav__item-bottom a {
  padding-top: 35px;
  padding-bottom: 28px;
  padding-left: 35px;
  padding-right: 35px;
}

.main-nav__item-top a {
  padding-top: 35px;
  padding-bottom: 29px;
  padding-left: 35px;
  padding-right: 35px;
}

.main-nav__item-bottom:last-child a {
  margin-right: 0;
}

.main-nav__item-top:last-child a {
  margin-right: 0;
}

.main-nav__item-bottom a[href] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  background-color: $black;
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

.main-nav__item-top a[href] {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  background-color: $white;
  color: $black;
  &:hover {
    text-decoration: none;
  }
}

.main-nav__item-bottom a:not([href]) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  background-color: $black;
  color: $white;
  &:hover {
    text-decoration: none;
  }
}

.main-nav__item-top a:not([href]) {
  font-family: 'Open Sans', Arial, sans-serif;
  font-size: 30px;
  background-color: $white;
  color: $black;
  &:hover {
    text-decoration: none;
  }
}
