.page-header {
  display: block;
  width: 1198px;
  position: fixed;
  height: 95px;
  z-index: 10;
  background-color: $black;
  padding-top: 10px;
  padding-left: 78px;
  border-bottom: 1px solid $gray;
}
