/*Some colors*/
$black: #000000;
$gold: #eb9605;
$darkblue: #24273a;
$rose: #fe4e50;
$pink: #d22856;
$bordo: #8a0200;
$white: #ffffff;
$skyblue: #3c81b5;
$blue: #0c486c;
$gray: #585858;

/* Media queries */
$mobile-widths: 'min-width: 320px';
$mobile-widths-only: 'max-width: 699px';
$tablet-widths: 'min-width: 700px';
$desktop-widths: 'min-width: 1200px';
$retina: '(min-resolution: 144dpi), (min-resolution: 1.5dppx)';
